.actorHeader{
    margin-left: 350px;
    font-weight: bold;
    font-size: 24px;
}
.actor_container{
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 200px;
}
.actor_card{
    position: relative;
    left: 600px;
    margin-top: 25px;
}
.avatar{
    position: relative;
    top: 50px;
    height: 100px;
    width: 67px;
    margin: -35px;
}
.actorName{
    position: relative;
    left: 90px;
    top: 15px;
    font-weight: bold;
}
.characterName{
    position: relative;
    left: 550px;
    top: -6px;
}