.App {
  height: auto;
}

.trending{
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: -1200px;
}

.topRated{
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: -1270px;
}

